body {
  background-color: ##4DB6AC;
  font-family: sans-serif;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 410px;
}
div.gallery:hover {
    border: 1px solid #777;
}
#tengah {
    position: center;
    width: 1200px;
    padding: 10px;
    margin:auto;
}
div.desc {
  padding: 5px;
  text-align: left;
  }

h1,h3,h4,p{
  color: #Black;
  }
#panjang {
  font-family: free serif;
  }
  .kotak {
  width: 320px;
  padding: 10px;
  border: 5px solid pink;
  margin: 0;
  }
  td {
  color:#1A237E;
  border: none;
  }
  th {
  padding:10px;
  background-color: #880E4F;
  color: white;
  border: none;
  padding: 12px 24px;
  }
  tr:nth-child(even){
  background-color: #FF80AB;
  }
  
  .menu a {
  color:white;
  display: block;
  font: 12px arial,verdana;
  font-weight: bold;
  padding: 9px 20px;
  text-decoration: none;
  }

  img.gambar {
  width: 350px;
  height: 300px;
  border: 4px solid #pink;
  padding: 2px;
  }
  #footer{
  line-height:30px;
  background: grey;
  color: white;
  text-align: center;
  }

  body {
  margin:0;
  }
